<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
  <tr>
    <td style="padding:20px;width:25%;vertical-align:middle">
      <img src="/images/teaser.png" width="240" alt="HRDexDB teaser">
    </td>
    <td style="padding:20px;width:75%;vertical-align:middle">
      <h2>HRDexDB: A Large-Scale Dataset of Dexterous Human and Robotic Hand Grasps</h2>
      <p>Jongbin Lim, <strong>Taeyun Ha</strong>, Mingi Choi, Jisoo Kim, Byungjun Kim, Subin Jeon, Hanbyul Joo</p>
      <p><em>arXiv preprint, 2026</em></p>
      <p>
        <a href="https://snuvclab.github.io/HRDexDB/">Project</a> /
        <a href="https://arxiv.org/abs/2604.14944">ArXiv</a> /
        <a href="https://github.com/snuvclab/HRDexDB/tree/main">Code</a>
      </p>
      <p>
        A large scale, multi-modal dataset of high-fidelity dexterous grasping sequences featuring both human and robotic hands.
      </p>
    </td>
  </tr>
</tbody></table>
